<div class="container-show mb-4" style="border: 1px solid #ccc; border-radius: 1%;">
    <div class="p-2" style="border-bottom: 1px solid #ccc;">
        <div class="d-flex justify-content-between">
            <span style="font-weight: bold; font-size: 16px;">Mão de obra</span>
             <div *ngIf="workForce.length === 0" style="color: #ccc;">
                Nenhuma mão de obra encontrado
            </div>
            <span *ngIf="workForce.length > 0" style="color: #ccc;">({{ workForce.length }} itens encontrados)</span>
        </div>
    </div>
    <div class="p-2">
        
        <div *ngIf="loading" class="loading">
            Carregando mão de obra...
        </div>

        <!-- Mensagem de erro -->
        <div *ngIf="error" class="error">
            {{ error }}
        </div>

        
        <div *ngIf="!loading && !error" class="purchase-orders">
            <div *ngIf="workForce.length === 0" style="font-size: 14px; color: #ccc;">
                Nenhuma mão de obra
            </div>

            <div *ngFor="let workForce of workForce" class="purchase-order-card">
                <div class="row py-2">
                    <div class="col-3 text-start">
                        <span class="purchase-order-id" style="border-bottom: 2px solid red ;color: red; font-size: 16px; font-weight: 500;">#{{ workForce.workforceID }}</span>
                    </div>
                    <div class="col-6 text-start">
                        <span class="purchase-order-name" style="font-weight: 500;">{{ workForce.name }}</span>
                    </div>
                     <div class="col-3 text-start">
                        <span class="purchase-order-name"  style="font-weight: 500;">{{ workForce.shift }}</span>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>